SERVER_PORT=8080
CLIENT_NAME=evolution-go
GLOBAL_API_KEY=
POSTGRES_AUTH_DB=postgresql://postgres:postgres@evolution-postgres:5432/evolution_go?sslmode=disable
POSTGRES_USERS_DB=postgresql://postgres:postgres@evolution-postgres:5432/evolution_go?sslmode=disable
DATABASE_SAVE_MESSAGES=true
WADEBUG=INFO
LOGTYPE=console
TZ=America/Sao_Paulo